<div id="tailwind2024" class="grid grid-cols-1 mx-auto xl:grid-cols-[28rem_minmax(0,1fr)]">
  <div class="h-fit relative pt-16 xl:px-12 top-0 xl:sticky">
    <div class="flex h-full xs:justify-center xl:justify-start w-full">
      <div id="cardContainer" class="h-[500px] w-[370px]">
        <div id="card" class="duration-1000 ease-in-out h-full hover:rotate-y-180  motion-safe:animate-nudge relative transition-transform transform-gpu w-full">
          <div id="faceBack" class="absolute backface-hidden border h-full rotate-y-180 rounded-xl shadow-xl w-full">
            <figure class="bg-neutral-50 flex flex-col h-full p-4 rounded-xl">
              <blockquote class="pt-4">
                As an engineer with over 8 years of experience, I enjoy breaking down complex problems, diving into architecture, and building applications or tools that are enjoyable to use.
              </blockquote>
              <figcaption class="flex flex-col pt-8">
                <div class="pb-2 text-neutral-500 text-sm">
                  <a class="link" href="https://kingscott.github.io/coffee/" target="_blank">Coffee fanatic</a>, 
                  <a class="link" href="/series" target="_blank">photographer</a>, 
                  <a class="link" href="https://www.goodreads.com/user/show/91908304-scott-king" target="_blank">book enthusiast</a> 
                </div>
                <div class="flex justify-center">
                  <img class="h-64 w-48" src="<%= asset_url("git.webp", skip_pipeline: true) %>" alt="Scott's commits" />
                </div>
              </figcaption>
            </figure>
          </div>
          <div id="faceFront" class="absolute backface-hidden drop-shadow-xl flex h-full rounded-xl w-full">
            <figure class="bg-slate-900 flex flex-col h-full justify-evenly p-8 relative rounded-xl w-full">
              <figcaption class="flex flex-col">
                <img class="h-36 mx-auto rounded-full w-36" src="<%= asset_url("me.jpeg", skip_pipeline: true) %>" alt="Picture of scott king">
                <svg viewbox="0 0 500 31" class="h-5 w-auto">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M25.517 0C18.712 0 14.46 3.382 12.758 10.146c2.552-3.382 5.529-4.65 8.931-3.805 1.941.482 3.329 1.882 4.864 3.432 2.502 2.524 5.398 5.445 11.722 5.445 6.804 0 11.057-3.382 12.758-10.145-2.551 3.382-5.528 4.65-8.93 3.804-1.942-.482-3.33-1.882-4.865-3.431C34.736 2.92 31.841 0 25.517 0zM12.758 15.218C5.954 15.218 1.701 18.6 0 25.364c2.552-3.382 5.529-4.65 8.93-3.805 1.942.482 3.33 1.882 4.865 3.432 2.502 2.524 5.397 5.445 11.722 5.445 6.804 0 11.057-3.381 12.758-10.145-2.552 3.382-5.529 4.65-8.931 3.805-1.941-.483-3.329-1.883-4.864-3.432-2.502-2.524-5.398-5.446-11.722-5.446z" fill="#38bdf8"></path>
                </svg>
                <div class="pt-8 sm:text-lg text-xl text-slate-500">
                Hey, I'm
                </div>
                <div class="font-md text-white text-3xl">
                  Scott King
                </div>
              </figcaption>
              <blockquote class="flex pt-8">
                <p class="sm:leading-normal leading-8 text-xl text-slate-500 sm:tracking-normal tracking-wide">I'm <span class="text-white">kingscott.ca</span> on the web, and a <span class="text-white">Staff Software Engineer</span> at <span class="text-white">SugarCRM</span>. I'm here from <span class="text-white">Kitchener</span>.
              </blockquote>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-16 xl:px-12 relative">
    <section id="me">
      <h2 class="font-extrabold text-xl">
        <a href="#me">A bit about me</a>
      </h2>
      <p class="my-4">
      I've been interested in technology and the web for as long as I can remember, but it started when my Dad introduced me to computers in early elementary school. This was followed by disassembling and reassembling donated computers from family members; where I installed Linux, and started building Piczo sites which evolved into simple JavaScript applications. 
      </p>
      <p class="my-4">
      Fast forward to post-secondary, and I started taking a more serious interest in modern web technologies. I joined a startup where I began to learn the ropes of modern web development, which included alpha versions of React.js. 
      </p>
      <figure class="flex items-center justify-center my-4 w-full">
        <div class="bg-white flex flex-col p-8 rounded-lg shadow-xl xs:w-full md:w-2/3">
          <a href="http://fluxoff.js.org" target="_blank"> 
            <img class="pb-2" src="<%= asset_url("flux.webp", skip_pipeline: true) %>" alt="Screenshot of fluxoff.js.org" />
          </a>
          <figcaption class="text-center text-sm">
            I felt a great sense of pride when I finally understood the Flux pattern, and I even had to build a <a class="link" href="http://fluxoff.js.org" target="_blank">small site</a> to share.
          </figcaption>
        </div>
      </figure>
      <p class="my-4">
      I then joined <a class="link" href="https://smile.io" target="_blank">Smile.io</a> in it's infancy (I was employee 18!) where we built out an e-commerce rewards program that worked with a variety of platforms including Shopify, WooCommerce, and Wix.  
      </p>
      <figure class="flex items-center justify-center my-4 w-full">
        <div class="bg-white flex xs:flex-col md:flex-row p-8 rounded-lg shadow-xl xs:w-full md:w-3/4">
          <a class="flex xs:justify-center md:justify-start h-1/2" href="https://smile-io-demo-store.myshopify.com/#smile-home" target="_blank">
            <img class="xs:h-64 md:h-full object-cover overflow-hidden" src="<%= asset_url("smile-rewards.webp", skip_pipeline: true) %>" alt="Smile rewards" />
          </a>
          <figcaption class="flex flex-col justify-center pl-6 text-left text-sm">
            <p class="pb-2">
            I paired with my team lead to rebuild the customer and developer experience using React.js, Redux, and SASS. We also built a set of JavaScript SDKs to enable developers to build custom rewarding actions. 
            </p>
            <p>
            Check out the <a class="link" href="https://smile-io-demo-store.myshopify.com/#smile-home" target="_blank">demo store</a>.
            </p>
          </figcaption>
        </div>
      </figure>
      <p class="my-4">
      In my current position at <a class="link" href="https://sugarcrm.com" target="_blank">SugarCRM</a>, I'm one of a few that focuses on architecture, and am the local subject matter expert on most things frontend, including Tailwind CSS. I have helped teams shift their frontend philosophy away from nested, semantic CSS to simple markup using utility classes and a technology-agnostic design token platform. 
       </p>
      <p class="my-4">
      The first step I made in this direction was presenting a dark mode project during our yearly hackathon. I communicated the relevance of having dark mode for our platform to senior leadership, who ended up supporting the project. Shortly after, we had a UI redesign, where I wrote a few <a class="link" href="https://sugarclub.sugarcrm.com/dev-club/w/dev-tutorials/742/moving-footer-content-to-sidebar-nav" target="_blank">developer guides</a> discussing backwards compatibility with our customization framework. 
      </p>
      <figure class="flex items-center justify-center my-4 w-full">
        <div class="bg-white flex flex-col p-8 rounded-lg shadow-xl xs:w-full md:w-2/3">
          <a href="https://sugarclub.sugarcrm.com/dev-club/b/dev-blog/posts/join-the-dark-side-with-dark-mode" target="_blank"> 
            <img class="pb-2" src="<%= asset_url("sugar-darkmode.webp", skip_pipeline: true) %>" alt="Screenshot of dark mode for SugarCRM" />
          </a>
          <figcaption class="text-center text-sm">
            This not only provided a good opportunity to clean up our styles, but I was able to write the <a class="link" href="https://sugarclub.sugarcrm.com/dev-club/b/dev-blog/posts/join-the-dark-side-with-dark-mode" target="_blank">production release</a>.
          </figcaption>
        </div>
      </figure>
      <p class="my-4">
      My interest in positively affecting our code and those who write it continued with guiding small teams. Most recently, I led a new product team from the <a class="link" href="https://www.sugarcrm.com/press-releases/sugarcrm-debuts-new-digital-self-service-capabilities/" target="_blank">first line of code to production</a>, deployed across 3 major regions. Notably, I conducted the research and lead the decision in choosing Auth0 as our authentication provider, which allowed us to rapidly build, maintain, and scale our authentication and authorization flow. Prior to the release, I was invited out to Auth0 DevDay '22 in Seattle, WA to discuss how we used their new <span class="italic">Organizations</span> feature.
      </p>
    </section>
    <section id="tailwind-scott">
      <h2 class="font-extrabold text-xl">
        <a href="#tailwind-scott">Tailwind Labs + Scott</a>
      </h2>
      <p class="my-4">
      I feel energized reading the application for this position. My interest in Tailwind CSS as a company has grown ever since I started using it a <a class="link" href="https://github.com/kingscott/kingscott.github.io/commit/37b172b22bf5913bd4ae2c931410fe1d2593cedb#diff-0eb547304658805aad788d320f10bf1f292797b5e6d745a3bf617584da017051" target="_blank">few years ago</a>. Plus, I re-read and share the importance of <a class="link" href="https://adamwathan.me/css-utility-classes-and-separation-of-concerns/" target="_blank">utility classes</a> often. It'd be a dream come true to work at a company where you've been a user and advocate of the product for awhile!  
      </p>
      <p class="my-4">
      At my current company, SugarCRM, I operate in a visible part of the organization where I'm often encouraged to use my influence as leverage to help steer technical decisions, and aid fellow engineers in their work. Introducing Tailwind CSS to our core platform was no exception. We needed to shift gears from our style pipeline growing linearly with every new feature, to a lean, mean, and reusable toolset that enabled our engineers.     
      </p>
      <p class="my-4">
      That change couldn't happen overnight; not only is our codebase shared and large, but there are nuances to our quarterly release cycle, especially with on-premise customers. We'd even need to consider external developers that build on top SugarCRM by way of our customization framework. I started laying the foundations for Tailwind CSS adoption almost 2 years prior, with a set of mixins to generate utility classes. Therefore, we could introduce them as needed, and shift our approach to styling as well. One of them to generate classes like <code class="text-red-600">`ml-4`</code> looked like this:        
      </p>
      <div class="bg-slate-900 font-mono leading-relaxed p-10 rounded-lg text-sm text-neutral-100 w-full">
        <div>.generate-rem-utility-class(@props, @abbreviation, @n, @p, @hasNegativeValues) {</div>
        <div class="pl-4">.-(@i: length(@n)) when (@i > 0) {</div>
        <div class="pl-8">@class-name: extract(@n, @i);</div>
        <div class="pl-8">@current-value: extract(@p, @i);</div>
        <div class="pl-8">.@{abbreviation}-@{class-name} {</div>
        <div class="pl-12">.-(@j: length(@props)) when (@j > 0) {</div>
        <div class="pl-16">@current-prop: extract(@props, @j);</div>
        <div class="pl-16">@{current-prop}: (@current-value / 4) * 1rem;</div>
        <div class="pl-16">.-(@j - 1);</div>
        <div class="pl-12">}</div>
        <div class="pl-12">.-;</div>
        <div class="pl-8">}</div>
        <div class="pl-8">.-@{abbreviation}-@{class-name} when (iskeyword(@hasNegativeValues) = true) {</div>
        <div class="pl-12">.-(@k: length(@props)) when (@k > 0) {</div>
        <div class="pl-16">@current-prop-neg: extract(@props, @k);</div>
        <div class="pl-16">@{current-prop-neg}: (@current-value / 4) * -1rem;</div>
        <div class="pl-16">.-(@k - 1);</div>
        <div class="pl-12">}</div>
        <div class="pl-12">.-;</div>
        <div class="pl-8">}</div>
        <div class="pl-8">.-(@i - 1);</div>
        <div class="pl-4">}</div>
        <div class="pl-4">.-;</div>
        <div>}</div>
        <div class="pt-8">@names: "1", "2", "3";</div>
        <div>@values: "0.25", "0.5", "0.75";</div>
        <div>.generate-rem-utility-class(margin-left, ml, @names, @values, 1);</div>
      </div>
      <p class="my-4">
      Ultimately, we made the transition and removed the old utilities this year. Everyone loves the cleanliness it brought to our codebase, and the ease of writing new styles. I'd be remiss if I didn't mention that I wrote a small announcement on our developer blog for how external developers can join in on the fun: 
      </p>
      <figure class="flex items-center justify-center my-4 w-full">
        <div class="bg-white flex flex-col p-8 rounded-lg shadow-xl xs:w-full md:w-2/3">
          <a href="https://sugarclub.sugarcrm.com/dev-club/b/dev-blog/posts/how-to-use-tailwind-css-in-sugar-customizations" target="_blank"> 
            <img class="pb-2" src="<%= asset_url("sugar-tailwind.webp", skip_pipeline: true) %>" alt="Screenshot of article on SugarClub" />
          </a>
          <figcaption class="text-center text-sm">
            I advocated for and led the implementation Tailwind CSS on our core platform. Read the full article <a class="link" href="https://sugarclub.sugarcrm.com/dev-club/b/dev-blog/posts/how-to-use-tailwind-css-in-sugar-customizations" target="_blank">here</a>. 
          </figcaption>
        </div>
      </figure>
      <p class="my-4">
      I'd love the opportunity to bring my skillset and motivation to Tailwind Labs. I'm familiar with navigating ambiguity and shouldering a number of responsibilities, as an individual or while leading a team:        
      <ul class="list-disc px-8">
        <li class="my-2">
          Educate and mentor younger engineers by walking through code over Zoom, writing useful comments, and completing meaningful and concise code reviews
        </li>
        <li class="my-2">
          Lead software architecture decisions from RFCs to entity relationship diagrams to implementation 
        </li>
        <li class="my-2">
          Consistently and effectively communicate status updates to project stakeholders  
        </li>
        <li class="my-2">
          Brainstorm and lead large engineering initiatives, and build collaboratively with other engineers  
        </li>
        <li class="my-2">
          Setting long-term goals in areas that are currently out of my comfort zone
        </li>
      </ul>
      </p>
      <p class="my-4">
      In my <span class="font-bold">first week</span> at Tailwind Labs, I'll become more familiar with the community and understand the product areas. In my <span class="font-bold">first month</span>, I'll have fixed a bug or two and contribute to planning sessions. In my <span class="font-bold">first quarter</span> I'll have worked on a proposal for the broader adoption of Tailwind CSS' v4.x configuration improvements, and explore the implementation of a design token library for improved maintenance of <code>src/corePlugins.js</code>.   
      </p>
    </section>
    <section id="testimonials">
      <h2 class="font-extrabold text-xl">
        <a href="#testimonials">Testimonials from current colleagues</a>
      </h2>
      <div class="flex flex-col mx-auto my-4 space-y-4">
        <figure class="border flex flex-col p-10 rounded">
          <blockquote>
            <p class="italic mb-4">
            "Scott is my go-to engineer. He has a holistic perspective of user-centered products. He understands accessibility
            needs and has a passion for polish and process. He's also a pleasure to be around and adds to our company culture."
            </p>
          </blockquote>
          <figcaption>
            <p class="font-medium">
            Senior UX Designer
            </p>
          </figcaption>
        </figure>
        <figure class="border flex flex-col p-10 rounded">
          <blockquote>
            <p class="italic mb-4">
            "Scott's excellent at sparking ideas and having tough conversations as a result of his commitment to quality and innovation. His knack for examining problems from multiple angles fosters learning and growth within our team."
            </p>
          </blockquote>
          <figcaption>
            <p class="font-medium">
            Software Engineer
            </p>
          </figcaption>
        </figure>
        <figure class="border flex flex-col p-10 rounded">
          <blockquote>
            <p class="italic mb-4">
            "Scott has played a pivotal role, standing out as an exceptional developer who has significantly 
            shaped his position with a notable impact. His contributions to the frontend have been highly commendable, and not only underscore his dedication to staying on top of trends but also elevates the overall user experience.
            </p>
          </blockquote>
          <figcaption>
            <p class="font-medium">
            Senior Manager
            </p>
          </figcaption>
        </figure>
      </div>
    </section>
    <section id="what-i-build-outside-work">
      <h2 class="font-extrabold text-xl">
        <a href="#what-i-build-outside-work">What I build outside of work</a>
      </h2>
      <p class="my-4">
      I've enjoyed my time contributing to the following open-source projects: 
      </p>
      <div class="gap-x-4 gap-y-4 grid auto-rows-fr xs:grid-cols-1 md:grid-cols-3">
        <a class="flex hover:scale-110 h-full transform transition-transform duration-300" href="https://github.com/brave/browser-laptop/pull/3488" target="_blank">
          <figure class="rounded-lg p-8 shadow-lg">
            <figcaption class="flex pb-4">
              <img class="h-12 w-12 rounded-full" src="https://avatars.githubusercontent.com/u/12301619" alt="Brave browser logo" />
              <span class="font-semibold pl-4">Brave Browser</span>
            </figcaption>
            <blockquote class="text-sm">
              Helped improve the "New Tab" experience on desktop. Scaffolded the ability to edit settings and a new tab page based on provided designs.  
            </blockquote>
          </figure>
        </a>
        <a class="flex hover:scale-110 h-full transform transition-transform duration-300" href="https://github.com/Shopify/shopify-api-ruby/pull/357" target="_blank">
          <figure class="rounded-lg p-8 shadow-lg">
            <figcaption class="flex pb-4">
              <img class="h-12 w-12 rounded-full" src="https://avatars.githubusercontent.com/u/8085?v=4" alt="Shopify logo" />
              <span class="font-semibold pl-4">Shopify API</span>
            </figcaption>
            <blockquote class="text-sm">
              Introduced new Marketing Event resource, which enabled us to send real-time engagement statistics to our customers about their rewards program. 
            </blockquote>
          </figure>
        </a>
        <a class="flex hover:scale-110 h-full transform transition-transform duration-300" href="https://github.com/auth0/go-jwt-middleware/issues/181" target="_blank">
          <figure class="rounded-lg p-8 shadow-lg">
            <figcaption class="flex pb-4">
              <img class="h-12 w-12 rounded-full" src="https://avatars.githubusercontent.com/u/2824157?v=4" alt="Auth0 logo" />
              <span class="font-semibold pl-4">Auth0 JWT Middleware</span>
            </figcaption>
            <blockquote class="text-sm">
              Proposed an update to the structure of a library method to work with gRPC and HTTP paylods. 
            </blockquote>
          </figure>
        </a>
      </div>
      <p class="my-4">
      After hours, I'm likely building small, concise projects that usually are utilities for a very specific task. For example, I've built <a class="link" href="https://github.com/kingscott/icemaker" target="_blank">icemaker</a> which makes replicating my photography archive on AWS S3 Glacier just a bit easier. I've recently been working on my <a class="link" href="https://github.com/kingscott/.dotfiles" target="_blank">dotfiles</a> repo, which helps me bootstrap my preferred tools on a new machine quickly. In disguise, this website is a project and learning opportunity! It's built using Ruby on Rails and Hotwire. I found some of the philosophies in <a class="link" href="https://world.hey.com/dhh/once-1-is-entirely-nobuild-for-the-front-end-ce56f6d7" target="_blank">#nobuild</a> and <a class="link" href="https://world.hey.com/dhh/kamal-1-0-5304ff9e" target="_blank">Kamal</a> very interesting, and wanted to try them out myself. 
      </p>
    </section>
    <section id="free-time">
      <h2 class="font-extrabold text-xl">
        <a href="#free-time">Free time</a>
      </h2>
      <p class="my-4">
      First of all, if you're still reading, thank you -- I really appreciate the opportunity to share a bit about my experience. 
      </p>
      <p class="my-4">
      To stay up-to-date, I keep a close eye on a small number of blogs, YouTube channels, and projects including: <a class="link" href="https://world.hey.com/dhh" target="_blank">David Heinemer Hanson's blog</a>, <a class="link" href="https://www.youtube.com/@typecraft_dev" target="_blank">Typecraft</a> and <a class="link" href="https://www.youtube.com/@Fireship" target="_blank">Fireship</a> on YouTube, and <a class="link" href="https://github.com/tailwindlabs" target="_blank">Tailwind Labs</a> and <a class="link" href="https://github.com/go-kit/kit" target="_blank">go-kit</a> on GitHub. 
      </p>
      <p class="my-4">
      I'm currently reading: <a class="link" href="https://learning.oreilly.com/library/view/-/9781098118723/?_gl=1*czggxa*_ga*MTk0MDkwMDU2Ny4xNzEyMDI1Mzc4*_ga_092EL089CH*MTcxMjAyNTM3OC4xLjEuMTcxMjAyNTM4NC41NC4wLjA." target="_blank">The Staff Engineer's Path</a> to help shape my leadership voice and ability to navigate challenging terrain, and <a class="link" href="https://en.wikipedia.org/wiki/Babel,_or_the_Necessity_of_Violence" target="_blank">Babel</a>; which  you may like if you're a fan of dystopic fiction.  
      </p>
      <p class="my-4">
      If you haven't checked out the <a class="link" href="/series" target="_blank">Creative Work</a> portion of my site, please do. Photography is a big passion of mine, and I'm always on the hunt for the next series to shoot. Every once in awhile I get a chance to record my fiance and other musicians in the KW choral music scene. I love to cycle and even helped <a class="link" href="https://www.strava.com/activities/9862864703" target="_blank">raise $9700 for our local Alzheimer's Society chapter</a>. At home, you'll find me dialing in espresso, cooking with my fiancée, and listening to jazz; here's <a class="link" href="https://ecmrecords.com/product/small-town-bill-frisell-thomas-morgan/" target="_blank">one of my faves</a>. Generally speaking, I love to tinker and understand how things work; whether it's with fixing or building mechanical objects or software. 
      </p>
    </section>
  </div>
</div>
