<div class="bg-neutral-100 flex items-center justify-between opacity-90 relative w-screen" data-controller="menu">
  <div class="ml-4">
    <%= image_tag "logo_light.png", class: "h-16", alt: "Scott King logo" %>
  </div>
  <div class="md:hidden xs:px-4 mr-4">
    <button 
      class="flex font-medium group/menu hover:bg-neutral-200 items-center px-4 py-2 ring-red-400 ring-1 rounded-full shadow-lg shadow-neutral-800/4 text-sm text-neutral-800"
      data-action="click->menu#toggle"
    >
      Menu
    </button>
  </div>  
  <nav class="fixed inset-x-4 invisible md:block md:container md:visible md:relative md:top-0 origin-top top-20 z-0" data-menu-target="navmenu">
    <ul 
      class="bg-neutral-200 flex flex-col opacity-0 p-4 rounded-md md:bg-neutral-100 md:flex md:flex-row md:justify-end md:mr-4 md:opacity-100 md:space-x-8 md:space-y-0 md:top-0 md:visible relative space-y-4 transition-[opacity] ease-in-out duration-500"
      data-menu-target="mobilemenu"
    >
      <li class="duration-200 flex hover:text-neutral-900 justify-center text-base transform transition-colors">
        <%= link_to "Home", root_path %>
      </li>
      <li class="duration-200 flex hover:text-neutral-900 justify-center text-base transform transition-colors">
        <%= link_to "Contact", contact_path %>
      </li>
      <li class="duration-200 flex hover:text-neutral-900 justify-center text-base transform transition-colors">
        <%= link_to "Creative Work", series_index_path %>
      </li>
      <li class="duration-200 flex hover:text-neutral-900 justify-center text-base transform transition-colors">
        <%= link_to "CV", asset_url("scott-king-cv.pdf", skip_pipeline: true) %>
      </li>            
    </ul>
  </nav>
</div>
