<!DOCTYPE html>
<html>
  <head>
    <title>Scott King</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>    
  </head>

  <body class="bg-neutral-100 h-full w-screen text-neutral-500">
    <header class="container fixed h-20 mx-auto top-0 z-50">
      <%= render 'layouts/navbar' %>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
