<!DOCTYPE html>
<html class="scroll-pt-16" lang="en">
  <head>
    <title>Scott King</title>
    <meta charset="utf-8">
    <meta property="og:site_name" content="Scott King" />
    <meta property="og:title" content="A place for all things Scott" />
    <meta property="og:description" content="Scott King is a developer with 8 years of experience who loves breaking down complex problems, and building software that's enjoying to use. He also dabbles in photography and recording." />
    <meta property="og:url" content="https://kingscott.ca" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>    
  </head>
  <body class="bg-neutral-100 h-full text-neutral-600 w-screen">
    <header class="container fixed h-20 mx-auto top-0 z-50">
      <%= render 'layouts/navbar' %>
    </header>
    <main class="container flex xs:justify-center md:justify-start max-w-4xl mt-28 mx-auto px-5 xl:max-w-8xl" role="main">
      <%= yield %>
    </main>
  </body>
</html>
